
/**
  System created for YVP
  includes all user interface css

  Copyright 2017 Your Virtual People

  Table of Contents

  I.    CSS Variables
  II.   Normalization
    i.    Helper Class
  III.  App Layout
  IV.   Sidebar
    i.    Sidebar Global List
    ii.   Sidebar Global Links
    iii.  Main Sidebar
    iv.   Sub menu
  V.
  VI.
 */

/*******************************************
 * CSS VARIABLES
 ******************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
:root{
    /*Body */
    --body-bg: #f5f8fa;

    /*Borders*/

    /*Color Palette*/
    --primary: #2196F3;
    --info: #18FFFF;
    --success: #2FD16B;
    --warning: #FFA039;
    --danger: #FF5252;
    --black: #212121;
    --gray: #757575;
    --slategray: #323c4e;
    --darkslategray: #202937;

    --dim: #767676;


    /*Typography*/
    --font-family: "Open Sans", sans-serif;
    --base-font-size: 14px;
    --text-color: #424242;

    --font-light: 300;
    --font-normal: 400;
    --font-semibold: 600;
    --font-bold: 700;
    --font-bolder: 800;

    /*Animation timing*/

    --race-car: cubic-bezier(1, .01, 0, 1);

    /*Z-index*/
    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
    --z-400: 400;

}

/*******************************************
 * NORMALIZATION
 ******************************************/

/*Reset Box sizing*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: var(--text-color);

    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/coffee-2319122_1920.jpg') fixed no-repeat;
    background-size: cover;
}

.container, .row{
    position: relative;
}

.container,
.row,
div[class^="col-"]{
    background: inherit;
}

/* Typography
 ******************************************/

.color-primary,
.color-primary:hover{
    color: var(--primary);
    text-decoration: none;
}
.color-info,
.color-info:hover{
    color: var(--info);
    text-decoration: none;
}
.color-secondary,
.color-secondary:hover{
    color: var(--secondary);
    text-decoration: none;
}
.color-warning,
.color-warning:hover{
    color: var(--warning);
    text-decoration: none;
}
.color-danger,
.color-danger:hover{
    color: var(--danger);
    text-decoration: none;
}
.color-light,
.color-light:hover{
    color: #fff;
    text-decoration: none;
}
.color-dark,
.color-dark:hover{
    color: var(--black);
    text-decoration: none;
}

/* Helper Class
 ******************************************/
/*Margin Bottom*/
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}
.mb-60{margin-bottom: 60px;}
.mb-70{margin-bottom: 70px;}
.mb-80{margin-bottom: 80px;}
.mb-90{margin-bottom: 90px;}
.mb-100{margin-bottom: 100px;}

/*Margin Top*/
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mt-60{margin-top: 60px;}
.mt-70{margin-top: 70px;}
.mt-80{margin-top: 80px;}
.mt-90{margin-top: 90px;}
.mt-100{margin-top: 100px;}

/*Margin Right*/
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.mr-60{margin-right: 60px;}
.mr-70{margin-right: 70px;}
.mr-80{margin-right: 80px;}
.mr-90{margin-right: 90px;}
.mr-100{margin-right: 100px;}

/*Margin Left*/
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
.ml-60{margin-left: 60px;}
.ml-70{margin-left: 70px;}
.ml-80{margin-left: 80px;}
.ml-90{margin-left: 90px;}
.ml-100{margin-left: 100px}

/*Padding Left Right*/
.plr-10{ padding: 0 10px; }
.plr-20{ padding: 0 20px; }
.plr-30{ padding: 0 30px; }
.plr-40{ padding: 0 40px; }
.plr-50{ padding: 0 50px; }
.plr-60{ padding: 0 60px; }
.plr-70{ padding: 0 70px; }
.plr-80{ padding: 0 80px; }
.plr-90{ padding: 0 90px; }
.plr-100{ padding: 0 100px; }

/*Padding Top Button*/
.ptb-10{ padding: 10px 0; }
.ptb-20{ padding: 20px 0; }
.ptb-30{ padding: 30px 0; }
.ptb-40{ padding: 40px 0; }
.ptb-50{ padding: 50px 0; }
.ptb-60{ padding: 60px 0; }
.ptb-70{ padding: 70px 0; }
.ptb-80{ padding: 80px 0; }
.ptb-90{ padding: 90px 0; }
.ptb-100{ padding: 100px 0; }

/*Padding*/
.p-10{ padding: 10px; }
.p-20{ padding: 20px; }
.p-30{ padding: 30px; }
.p-40{ padding: 40px; }
.p-50{ padding: 50px; }
.p-60{ padding: 60px; }
.p-70{ padding: 70px; }
.p-80{ padding: 80px; }
.p-90{ padding: 90px; }
.p-100{ padding: 100px; }


/*Border-right*/

.br-1-w{
    border-right: 1px solid #fff;
}


/*******************************************
 * MAIN
 ******************************************/
main{

    /*display*/
    display: block;
    height: 100%;
    width: 83%;

    /*position*/
    float: right;
    padding: 1em;

    /*design*/
    background: inherit
}
main::before, main::after{
    content: "";
    clear: both;
    display: table;
}


/*******************************************
 * SIDEBAR
 ******************************************/

.sidebar-container{
    /*display*/
    height: 100%;
    width: 17%;

    /*position*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;

    /*design*/
    /*background: var(--darkslategray);*/
    background: rgba(32, 41, 55, 0.97);

    /*-webkit-box-shadow: 1px 0 0 0 rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 1px 0 0 0 rgba(0,0,0,0.75);*/
    /*box-shadow: 1px 0 0 0 rgba(0,0,0,0.75);*/
}
.sidebar-container > .sidebar-head{
    width: 100%;
    height: auto;
    padding: 20px;
    min-height: 100px;
    /*background: var(--slategray);*/
    background: rgba(50, 60, 78, 0.5);
    margin-bottom: 15px;
}


/* Sidebar Global List
******************************************/
.sidebar-container ul{
    list-style: none;
    padding: 0;
    margin : 0;
}
.sidebar-container ul > li{
    position: relative;
}
.sidebar-container ul > li > ul a{
    margin-left: 10px;
    padding-left: 20px;
}

/* Sidebar Global Links
******************************************/
.sidebar-container ul>li>a,
.sidebar-container ul>li>a:visited,
.sidebar-container ul>li>a:focus,
.sidebar-container ul>li>a:hover{
    color: white;
}
.sidebar-container ul>li>a{
    width: 100%;
    display: block;
    padding: 7px 10px;
}

/*Hover*/
.sidebar-container>ul>li>a:hover{
    text-decoration: none;
    border-left: 7px solid var(--primary);
}
.sidebar-container>ul>li>a:hover>span:first-child{
    margin-left: -7px;
}
.sidebar-container>ul>li>a:hover>span.icon{
    color: var(--info);
}

.sidebar-container a > .link-icon{
    float: right;
}

/* Main Sidebar
******************************************/

.main-sidebar{
    position: relative;
    margin: 0;
}

/*Main Sidebar Links*/

.main-sidebar > li > a{
    padding-left: 30px !important;
}
.main-sidebar > li > a ~ .sub-menu > li > a > span{
    margin-left: 15px;
    transition: margin-left 0.7s var(--race-car);
}

.main-sidebar > li > a > span.icon{
    margin-right: 10px;
}

/* Sub Menu
******************************************/

.main-sidebar .sub-menu{
    /*display*/
    opacity: 0;
    visibility: hidden;
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;

    /*position*/
    position: absolute;
    top: 0;
    right: -200px;
    padding: 10px 0;
    z-index: var(--z-300);

    /*design*/
    background: rgba(32, 41, 55, 0.97);
}

/*Parent Hover State*/
.main-sidebar > li:hover > .sub-menu{
    animation-name: fadeInMenu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    /*animation-timing-function: cubic-bezier(.02,1,.53,.99);*/
    animation-timing-function: var(--race-car);

    -webkit-animation-name: fadeInMenu;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    --webkit-animation-timing-function: var(--race-car);
}


.sub-menu > li > a:hover {
    text-decoration: none;
}
.sub-menu > li > a:hover > span{
    color: var(--info);
}

/*Parent Active State*/

/*animations*/

.showMenu{
    visibility: visible !important;
    opacity: 1 !important;

    transition: 0.3s all !important;
}
.showMenu > li > a > span{
    margin-left: 0 !important;
}

@keyframes fadeInMenu{
    from{
        transform: translateX(20%);
    }
    to{
        transform: translateX(0);
    }
}
@-webkit-keyframes fadeInMenu {
    from{
        transform: translateX(20%);
    }
    to{
          transform: translateX(0);
    }
}

/*******************************************
 * COMPONENTS
 ******************************************/

/* Cards
 ******************************************/

/*@override bootstrap cards*/
.card{
    background: inherit;
    border: none;
    border-radius: 0;

    z-index: 2;
    overflow: hidden;
    color: #FFFFFF;
}

.card-header.primary{
    background-color: rgba(33, 152, 243, 0.3);
}
.card-header.info{
    background-color: rgba(24, 255, 255, 0.3);
}
.card-header.success{
    background-color: rgba(47, 209, 107, 0.3);
}
.card-header.warning{
    background-color: rgba(255, 160, 57, 0.3);
}
.card-header.danger{
    background-color: rgba(255, 82, 82, 0.3);
}

/*Frosted Glass Effect*/
.card::before{
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    z-index: -1;
    box-shadow: inset 0 0 0 100vh rgba(0,0,0,0.5);
    filter: blur(20px);
}
.card > .card-header{
    border-bottom: 0;
    background-color: rgba(0,0,0,0);
}

.card-header > .with-search-form{
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}
.card-header{
    position: relative;
}
.card-header::before{
    content: "";
    width: 10px;
    height: 80%;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    background: var(--info);
}
.card-header.primary::before{
    background: var(--primary);
}
.card-header.info::before{
    background: var(--info);
}
.card-header.success::before{
    background: var(--success);
}
.card-header.warning::before{
    background: var(--warning);
}
.card-header.danger::before{
    background: var(--danger);
}

.card-title{
    margin: 0;
}

/* User Details
 ******************************************/
.user-details{
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    /*position*/
    position: relative;
    padding: 0;
    margin: 0;

    /*design*/
    list-style: none;
}
.user-details > li{
    color: white;
}

.user-details > .user-image{
    cursor: pointer;
    position: relative;
}
.user-details > .user-image > img{
    width: 70px;
    height: 70px;
    position: relative;

    border: 2px solid transparent;
    border-radius: 50%;

    transition: 0.2s border ease-in;
}
.user-details > .user-image > img:hover{
    border: 2px solid var(--info);
}
.user-details > .user-image::after{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    z-index: -1;
    border: 2px solid transparent;
    transition: 1s border ease-in;
}
.user-details > .user-image:hover::after{
    content: " ";

    border: 2px solid var(--info);
    transition: 0.5s border ease-in;

}

.user-details > .user-name{
    font-weight: 700;
}

/*******************************************
 * FROSTED GLASS FORMS
 ******************************************/

/* FG Form
 ******************************************/
.fg-form{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FG Form Group
 ******************************************/

.fg-form .fg-form-group{
    margin-bottom: 30px;
    position: relative;
}

/* FG Form Control
 ******************************************/

.fg-form-group > .fg-form-control{
    /*display*/
    display: block;
    width: 100%;

    /*position*/
    padding: .375rem .75rem;

    /*design*/
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    font-weight: var(--font-light);

    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}
.fg-form-group > .fg-form-control:focus{
    outline: none;
}
select.fg-form-control > option{
    color: var(--text-color);
}
/*animation*/
.fg-form-control ~ label{
    /*display*/

    /*position*/
    position:absolute;
    top: 5px;
    left: 0;

    /*design*/
    font-size: 1rem;
    cursor: text;
    transition: all 0.3s;
}

.fg-form-control.focus{
    border-color: var(--info);
}

.fg-form-control.focus ~ label{
    top: -16px;
    font-size: 0.8rem;
    color: var(--info);
}


/*Required*/

label > .required{
    color: var(--danger);
}


/*******************************************
 * BUTTONS @override bootstrap btn
 ******************************************/

.btn{
    /*display*/
    display: inline-block;
    width: 120px;

    /*position*/
    padding: .65rem 0;

    /*design*/
    border-radius: 0;

    font-weight: var(--font-light);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    transition: all 0.3s;
}
.btn ~ .btn{
    margin-left: 10px;
}

/*Button animation and icon Hovers*/
/*submit*/
.btn.submit:hover > span::after,
.btn[type='submit']:hover > span::after{
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
}
/*clear / reset*/
.btn[type='reset']:hover > span::after{
    content: "\f1f8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
}
.btn.submit > span,
.btn[type='submit'] > span,
.btn[type='reset'] > span{
    margin-right: 0;
    transition: 0.5s all;
}
.btn.submit:hover > span,
.btn[type='submit']:hover > span,
.btn[type='reset']:hover > span{
    margin-right: 5px;
}



/*Accents*/
.btn-primary{
    background-color: var(--primary);
    color: white;
}
.btn-info{
    background-color: var(--info);
    color: white;
}
.btn-success{
    background-color: var(--success);
    color: white;
}
.btn-warning{
    background-color: var(--warning);
    color: white;
}
.btn-danger{
    background-color: var(--danger);
    color: white;
}
.btn-primary:hover,
.btn-info:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-danger:hover{
    color: white;
}
.btn-properties{
    color: #fff;
    background: transparent;
    border: none;
}
.btn-properties:focus{
    box-shadow: none;
}

/*Outline buttons*/
.btn-outline-primary{
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}


/*Helper Buttons*/
.btn-width-auto{
    width: auto;
}
.btn-circle{
    border-radius: 50%;
    width: auto;
    height: auto;
}

/*******************************************
 * ALERTS @override bootstrap alerts
 ******************************************/

.alert{
    /*border-radius: 0;*/
    /*border-width: 2px;*/
    color: #fff !important;

    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: var(--race-car);
}
.alert > .close{
    text-shadow: none;
    cursor: pointer;
}
.alert-primary{
    background-color: transparent;
    border-color: var(--primary);
}
.alert-primary > .close{
    color: var(--primary);
}
.alert-info{
    background-color: transparent;
    border-color: var(--info);
}
.alert-info> .close{
    color: var(--info);
}
.alert-secondary{
    background-color: transparent;
    border-color: var(--secondary);
}
.alert-secondary > .close{
    color: var(--secondary);
}
.alert-warning{
    background-color: transparent;
    border-color: var(--warning);
}
.alert-warning > .close{
    color: var(--warning);
}
.alert-danger{
    background-color: transparent;
    border-color: var(--danger);
}
.alert-danger > .close{
    color: var(--danger);
}

/* Alert Parent*/
.notification{
    display: none;
    margin: 15px 0;
}

/*******************************************
 * BADGE @override bootstrap badge
 ******************************************/

.badge-primary{
    background-color: var(--primary);
}
.badge-info{
    background-color: var(--info);
}
.badge-success{
    background-color: var(--success);
}
.badge-warning{
    background-color: var(--warning);
}
.badge-danger{
    background-color: var(--danger);
}

/*******************************************
 * NAV @override bootstrap alerts
 ******************************************/

.nav{
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    border-bottom: 2px solid var(--primary);
}
.nav-pills .nav-link{
    border-radius: 0;
    color: #fff;
}

/*******************************************
 * FORM WIZARD
 ******************************************/

.form-wizard{
    display: table;
    margin: 10px 0;
}

/* Form Navigation
 ******************************************/
.form-wizard-navigation {
    display: table-cell;

    border-right: 1px solid #fff;
    padding-right: 20px;
}

/*Sidebar*/
/*Global scope*/
.sidebar a{
    display: block;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    width:100%;
}
.sidebar a:hover{
    color: var(--info);
    text-decoration: none;
}

/*Sidebar*/
.sidebar,
.sidebar .sub-menu{
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    position: relative;
}

.sidebar > li{
    position: relative;
}

/*Submenu*/
.sidebar .sub-menu{
    display: none;
}

.sidebar .sub-menu.show{
    display: block;
    position: absolute;
    right: -124px;
    top: -41px;
}



.form-wizard-window{
    display: table-cell;
    min-height: 500px;
    width: 100%;
}

/*******************************************
 * STEP WIZARD
 ******************************************/


.step-wizard,
.step-wizard .step-wizard-progress{
    width: 100%;
    position: relative;
    display: block;
}
.step-wizard-progress{
    margin-bottom: 15px;
}

/* Progress bar Styles*/

.step-wizard-progress .step-progress{
    /*display*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*position*/
    padding: 30px 0;
    margin: 0;

    /*design*/
    background: transparent;
    list-style: none;

    font-size: 14px;
}
.step-progress > li{
    width: 100%;
    text-align: center;
}

/* Step Progress */
.step-progress > li > a{
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    /*position*/
    padding: 1em 0;

    /*design*/
    color: var(--dim);
    cursor: pointer;
    border-bottom: 1px solid var(--dim);
}
.step-progress > li > a:hover{
    text-decoration: none;
}
/*active and finished*/
.step-progress > li > a.active{
    border-bottom: 1px solid var(--info) !important;
    color: #fff;
}
/*progress*/
.step-progress > li > a.finished{
    border-bottom: 1px solid var(--primary);
    color: #EEEEEE;
}



.step-progress > li > a > .icon{
    margin-bottom: 10px;
}


/* Panes*/

.step-wizard-pane{
    /*display*/
    display: none;

    /*position*/
    padding: 0 20px;

    /*design*/

}
.step-wizard-pane.active{
    display: block !important;
}

.button-group{
    /*display*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    /*position*/
    margin-top: 20px;
    padding: 0;

}
.button-group.left{
    justify-content: flex-end;
}
.button-group.center{
    justify-content: center;
}
.button-group > [data-step-button] ~ [data-step-button]{
    margin-left: 10px;
}
[data-step-button]{
    border: 1px solid transparent;
    transition: border 0.3s;
}
[data-step-button]:hover{
    border: 1px solid var(--info);
}



/*******************************************
 * Data Tables @override Datatables
 ******************************************/
.dataTables_wrapper{
    width: 100%;
}
.dataTables_wrapper .dataTable{
    margin-bottom: 30px;
    width: 100%;
}
.dataTables_wrapper .dataTables_filter{
    margin-bottom: 15px;
}
.dataTables_filter label{
    color: #fff;
}
.dataTables_filter label input{
    background: transparent;
    color: white;
    width: 300px;
    padding: 5px 15px;
}
table.dataTable tbody tr{
    background-color: transparent;
}
table.dataTable.no-footer{
    /*border-bottom: 1px solid var(--darkslategray);*/
    border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid var(--darkslategray);
    border-top: 1px solid var(--darkslategray);
}
table.dataTable thead th, table.dataTable thead td{
    padding: 15px 18px;
    background-color: rgba(255,255,255,0.06);
}
table.dataTable tbody th, table.dataTable tbody td{
    padding: 15px 10px;
    border-bottom: 1px solid var(--darkslategray);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #fff !important;
    background: var(--primary) !important;
    border-radius: 0;
    border: none;
}
.dataTables_wrapper .dataTables_paginate{
    float: none;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


}
/*******************************************
 * CUSTOM GRID
 ******************************************/

.fg-grid{
    display: flex;
    flex-flow: row wrap;
}
.grid-1{
    flex-basis: 8.333333333%;
}
.grid-2{
    flex-basis: 16.666666665%;
}
.grid-3{
    flex-basis: 24.99999%;
}
.grid-4{
    flex-basis: 33.3333333332%;
}
.grid-5{
    flex-basis: 41.666666665%;
}
.grid-6{
    flex-basis: 50%;
}
.grid-7{
    flex-basis: 58.33333331%;
}
.grid-8{
    flex-basis: 66.666666664%;
}
.grid-9{
    flex-basis: 74.999999997%;
}
.grid-10{
    flex-basis: 83.333333333%;
}
.grid-11{
    flex-basis: 91.666666663%;
}
.grid-12{
    flex-basis: 100%;
}


