@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");



/**
  System created for YVP
 */

/* CSS Variables
 ******************************************/
:root{
    /*Body */
    --body-bg: #f5f8fa;

    /*Borders*/

    /*Color Palette*/
    --primary: #03A9F4;
    --info: #7FC6E1;
    --success: #2FD16B;
    --warning: #FFA039;
    --danger: #FC3842;

    /*Typography*/
    --font-family: "Open Sans", sans-serif;
    --base-font-size: 14px;
    --text-color: #383839;

    /*Z-index*/
    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
    --z-400: 400;

}

/* Normalization
 ******************************************/

/*Reset Box sizing*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: var(--text-color);
}


/* Main
 ******************************************/
main{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/coffee-2319122_1920.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}




/* Sidebar
 ******************************************/

.sidebar-container{
    /*display*/

    /*position*/
    position: fixed;
    top: 0;
    left: 0;

    /*design*/
    background: var(--primary);
    height: 100%;
    width: 15%;
}
.sidebar-container > .sidebar-head{
    width: 100%;
    height: auto;
    padding: 10px;
    min-height: 100px;
    background: var(--danger);
}
